apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: {{ .Release.Namespace }}
type: Opaque
stringData:
  superUserName: {{ .Values.odoo.db.superUser }}
  superUserPassword: {{ .Values.odoo.db.superUserPassword }}
