image:
  repository: pgvector/pgvector
  tag: "pg17-trixie"
  pullPolicy: IfNotPresent
  pullSecret: ""

postgres:
  database: appdb
  user: postgres
  password: changeme

service:
  type: ClusterIP
  port: 5432

resources:
  requests:
    cpu: 200m
    memory: 256Mi
  limits:
    cpu: 2000m
    memory: 2Gi

persistence:
  enabled: true
  accessModes:
    - ReadWriteOnce
  storageClass: "" 
  size: 10Gi

podAnnotations: {}

nodeSelector: {}

tolerations: []

affinity: {}
