apiVersion: apps/v1
kind: Deployment
metadata:
  name: mssql-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mssql-server
  template:
    metadata:
      labels:
        app: mssql-server
    spec:
      imagePullSecrets:
        - name: {{ .Values.pullSecret }}
      securityContext:
        fsGroup: 10001  # Ensure filesystem group ownership is correct
      initContainers:
      - name: download-bak-file
        image: minio/mc
        command:
        - sh
        - -c
        - |
          set +e
          mc alias set myminio {{ .Values.mssql.s3Endpoint }} {{ .Values.mssql.s3AccessKeyId }} {{ .Values.mssql.s3SecretAccessKey }} && \
          mc get myminio/{{ .Values.mssql.bakFileUrl }} /var/opt/mssql/backup/backup.bak
        volumeMounts:
        - name: mssql-backup
          mountPath: /var/opt/mssql/backup
      containers:
      - name: mssql-server
        image: mcr.microsoft.com/mssql/server
        env:
        - name: ACCEPT_EULA
          value: "Y"
        - name: SA_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mssql-secret
              key: sa-password
        volumeMounts:
        - name: mssql-backup
          mountPath: /var/opt/mssql/backup
        - name: mssql-data
          mountPath: /var/opt/mssql/data
        readinessProbe:
          exec:
            command:
            - /bin/bash
            - -c
            - |
              /opt/mssql-tools18/bin/sqlcmd -C -S localhost -U SA -P "$SA_PASSWORD" -Q "SELECT 1 FROM sys.databases WHERE name = '{{ .Values.mssql.dbName }}'" | grep -q 1
          initialDelaySeconds: 60  # Adjust based on expected restore time
          periodSeconds: 10
        livenessProbe:
          exec:
            command:
            - /opt/mssql-tools18/bin/sqlcmd
            - -S
            - localhost
            - -U
            - SA
            - -P
            - "$SA_PASSWORD"
            - -Q
            - "SELECT 1"
          initialDelaySeconds: 60
          periodSeconds: 30
      - name: mssql-init
        image: docker.bemade.org/bemade/docker-mssql-tools:0.0.1-amd64
        env:
        - name: SA_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mssql-secret
              key: sa-password
        - name: ACCEPT_EULA
          value: "Y"
        - name: DB_NAME
          value: {{ .Values.mssql.dbName | quote }}
        - name: BAKFILE
          value: "backup.bak"
        command: ["/bin/bash", "-c", "--"]
        args:
        - |
          set +e
          set +x
          echo "Waiting for MSSQL Server to be available...";
          until /opt/mssql-tools18/bin/sqlcmd -C -S localhost -U SA -P "$SA_PASSWORD" -Q "SELECT 1" &> /dev/null;
          do
              sleep 3;
          done;
          echo "MSSQL Server is now available.";
          echo "Attaching the database...";
          $DB_LOG_NAME = "DB_NAME""_log"
          # Drop and restore the database
          /opt/mssql-tools18/bin/sqlcmd -C -S localhost -U SA -P "$SA_PASSWORD" -Q "
          IF DB_ID('$DBNAME') IS NOT NULL
          BEGIN
              ALTER DATABASE Pneuprod SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
              DROP DATABASE Pneuprod;
          END
          GO

          RESTORE FILELISTONLY
          FROM DISK = '/var/opt/mssql/backup/backup.bak'
          GO

          RESTORE DATABASE Pneuprod
          FROM DISK = '/var/opt/mssql/backup/backup.bak'
          WITH MOVE '$DB_NAME' TO '/var/opt/mssql/data/Pneuprod.mdf',
               MOVE '$DB_LOG_NAME' TO '/var/opt/mssql/data/Pneuprod_log.ldf',
               REPLACE, RECOVERY;
          GO
          "

          echo "DB backup restored to MSSQL."
        volumeMounts:
        - name: mssql-backup
          mountPath: /var/opt/mssql/backup
        securityContext:
          runAsUser: 10001 # mssql User UID
          runAsNonRoot: true
          allowPrivilegeEscalation: false
      volumes:
      - name: mssql-backup
        persistentVolumeClaim:
          claimName: mssql-backup
      - name: mssql-data
        persistentVolumeClaim:
          claimName: mssql-pvc
