apiVersion: apps/v1
kind: Deployment
metadata:
  name: mssql-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mssql-server
  template:
    metadata:
      labels:
        app: mssql-server
    spec:
      initContainers:
      - name: download-bak-file
        image: minio/mc
        command:
        - sh
        - -c
        - |
          set +e
          mc alias set myminio {{ .Values.mssql.s3Endpoint }} {{ .Values.mssql.s3AccessKeyId }} {{ .Values.mssql.s3SecretAccessKey }} && \
          mc get myminio/{{ .Values.mssql.bakFileUrl }} /var/opt/mssql/backup/backup.bak
        volumeMounts:
        - name: mssql-backup
          mountPath: /var/opt/mssql/backup
      containers:
      - name: mssql-server
        image: mcr.microsoft.com/mssql/server
        env:
        - name: ACCEPT_EULA
          value: "Y"
        - name: SA_PASSWORD
          value: "mssqlP4ss"
        volumeMounts:
        - name: mssql-backup
          mountPath: /backup
        - name: mssql-data
          mountPath: /var/opt/mssql/data
      volumes:
      - name: mssql-backup
        persistentVolumeClaim:
          claimName: mssql-backup
      - name: mssql-data
        persistentVolumeClaim:
          claimName: mssql-pvc
