apiVersion: apps/v1
kind: Deployment
metadata:
  name: mssql-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mssql-server
  template:
    metadata:
      labels:
        app: mssql-server
    spec:
      securityContext:
        fsGroup: 10001  # Ensure filesystem group ownership is correct
      initContainers:
      - name: download-bak-file
        image: minio/mc
        command:
        - sh
        - -c
        - |
          set +e
          mc alias set myminio {{ .Values.mssql.s3Endpoint }} {{ .Values.mssql.s3AccessKeyId }} {{ .Values.mssql.s3SecretAccessKey }} && \
          mc get myminio/{{ .Values.mssql.bakFileUrl }} /var/opt/mssql/backup/backup.bak
        volumeMounts:
        - name: mssql-backup
          mountPath: /var/opt/mssql/backup
      containers:
      - name: mssql-server
        image: mcr.microsoft.com/mssql/server
        env:
        - name: ACCEPT_EULA
          value: "Y"
        - name: SA_PASSWORD
          value: "mssqlP4ss"
        volumeMounts:
        - name: mssql-backup
          mountPath: /backup
        - name: mssql-data
          mountPath: /var/opt/mssql/data
        readinessProbe:
          exec:
            command:
            - /bin/bash
            - -c
            - |
              /opt/mssql-tools18/bin/sqlcmd -C -S localhost -U SA -P "$SA_PASSWORD" -Q "SELECT 1"
          initialDelaySeconds: 60  # Adjust based on expected restore time
          periodSeconds: 10
        livenessProbe:
          exec:
            command:
            - /opt/mssql-tools18/bin/sqlcmd
            - -S
            - localhost
            - -U
            - SA
            - -P
            - "$SA_PASSWORD"
            - -Q
            - "SELECT 1"
          initialDelaySeconds: 60
          periodSeconds: 30
        volumeMounts:
        - name: mssql-backup
          mountPath: /backup
        securityContext:
          runAsUser: 10001 # mssql User UID
          runAsNonRoot: true
          allowPrivilegeEscalation: false
      volumes:
      - name: mssql-backup
        persistentVolumeClaim:
          claimName: mssql-backup
      - name: mssql-data
        persistentVolumeClaim:
          claimName: mssql-pvc
