apiVersion: v1
kind: Service
metadata:
  name: mssql-server
  namespace: pneumac
spec:
  ports:
  - port: 1433
    targetPort: 1433
  selector:
    app: mssql-server
  type: ClusterIP

---

apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: pneumac
spec:
  ports:
  - port: 5432
    targetPort: 5432
  selector:
    app: postgres
  type: ClusterIP
