apiVersion: v1
kind: Service
metadata:
  name: odoo-service
  namespace: {{ .Release.Namespace }}
  labels:
    app: odoo
spec:
  selector:
    app: odoo
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8069
