apiVersion: v1
kind: ConfigMap
metadata:
  name: restore-db
  namespace: {{ .Release.Namespace }}
data:
  restore-db.sh: |
    #!/bin/bash
    if [ ! -f /mnt/prod-backup/done ]; then

      BACKUP_FILE="/mnt/prod-backup/backup.zip"
      EXTRACT_DIR="/mnt/prod-backup/unzipped"

      # Function to restore the database
      restore_database() {
        echo "Restoring database $DB_NAME..."
        createdb -U "$PG_USER" -h "$PG_HOST" "$DB_NAME"
        psql -U "$PG_USER" -h "$PG_HOST" -d "$DB_NAME" -f "$EXTRACT_DIR/dump.sql"
      }

      # Function to copy the filestore
      copy_filestore() {
        echo "Copying filestore to $FILESTORE_DEST_DIR/$DB_NAME..."
        if [ ! -d "$FILESTORE_DEST_DIR" ]; then
          mkdir -p "$FILESTORE_DEST_DIR" ]
        fi
        cp -r "$EXTRACT_DIR/filestore" "$FILESTORE_DEST_DIR/$DB_NAME"
      }

      # Check if the database already exists
      if psql -U "$PG_USER" -h "$PG_HOST" -lqt | cut -d \| -f 1 | grep -qw "$DB_NAME"; then
        echo "Database $DB_NAME already exists. Dropping database."
        dropdb -U "$PG_USER" -h "$PG_HOST" "$DB_NAME"
      fi
      restore_database

      # Check if the filestore for the database already exists
      if [ -d "$FILESTORE_DEST_DIR/$DB_NAME" ]; then
        echo "Filestore for $DB_NAME already exists. Deleting."
        rm -rf "$FILESTORE_DEST_DIR/$DB_NAME"
      fi
      echo "Copying filestore..."
      copy_filestore
      chown -R odoo:odoo /var/lib/odoo

      touch /mnt/prod-backup/done
    fi
