
# apiVersion: v1
# kind: ConfigMap
# metadata:
#   name: {{ .Release.Name }}-postgresql-config
#   namespace: {{ .Release.Namespace }}
# data:
#   postgresql.conf: |
#     # PostgreSQL configuration
#     max_connections = {{ .Values.odoo.database.postgresql.config.max_connections }}
#     shared_buffers = {{ .Values.odoo.database.postgresql.config.shared_buffers }}
    
#     # Odoo recommended settings
#     effective_cache_size = '1GB'
#     work_mem = '16MB'
#     maintenance_work_mem = '128MB'
    
#     # Write ahead log settings
#     wal_buffers = '8MB'
#     synchronous_commit = off
    
#     # Checkpointing
#     checkpoint_timeout = '1h'
#     checkpoint_completion_target = 0.9
    
#     # Logging
#     log_min_duration_statement = 1000
#     log_connections = on
#     log_disconnections = on
    
#     # Autovacuum settings
#     autovacuum = on
    
#     # Listen on all interfaces
#     listen_addresses = '*'

