apiVersion: v1
kind: ConfigMap
metadata:
  name: pull-production-db
  namespace: {{ .Release.Namespace }}
data:
  pull-production-db.sh: |
    #!/bin/bash

    if [ ! -f /mnt/prod-backup/done ]; then
      apk add --no-cache curl:
      BACKUP_FILE="/mnt/prod-backup/backup.zip"
      EXTRACT_DIR="/mnt/prod-backup/unzipped"


      if [ -f "$BACKUP_FILE" ]; then
        rm "$BACKUP_FILE"
      fi
      curl -o "$BACKUP_FILE" -X POST \
        -F "master_pwd=$MASTER_PW" \
        -F"name=$PROD_DB" \
        -F "backup_format=zip" \
        "http://$PROD_HOST/web/database/backup"

      if [ ! -d $EXTRACT_DIR ]; then
        mkdir -p $EXTRACT_DIR
      else
        rm -rf $EXTRACT_DIR/*
      fi

      unzip "$BACKUP_FILE" -d "$EXTRACT_DIR"
      rm "$BACKUP_FILE"
      chmod -R 777 /mnt/prod-backup
    fi

