apiVersion: v1
kind: ConfigMap
metadata:
  name: cleanup-db-script
  namespace: {{ .Release.Namespace }}
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-5"
data:
  cleanup-db-user.sh: {{ .Files.Get "files/cleanup-db-user.sh" | quote }}
