apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: odoo-http
  namespace: {{ .Release.Namespace }}
spec:
  entryPoints:
    - web
  routes:
    - kind: Rule
      match: Host(`{{ .Values.odoo.production.hostname  }}.{{ .Values.odoo.domain }}`)
      middlewares:
        - name: redirect-https
          namespace: {{ .Release.Namespace }}
      services:
        - kind: Service
          name: odoo-{{ .Values.odoo.production.hostname }}
          namespace: {{ .Release.Namespace }}
          passHostHeader: true
          port: 8069
          scheme: http
